<div class="mobile-menu">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none" class="icon icon-close">
    <line y1="-1" x2="23.5891" y2="-1" transform="matrix(0.734803 -0.67828 0.39668 0.917957 1.66602 18)" stroke="#F8E7C2" stroke-width="2"/>
    <line y1="-1" x2="23.5891" y2="-1" transform="matrix(0.734803 0.67828 -0.39668 0.917957 1.66602 2)" stroke="#F8E7C2" stroke-width="2"/>
  </svg>
</div>
<span class="menu-text close-icon desktop-menu ">close</span>
