{{ 'choose-destination.css' | asset_url | stylesheet_tag }}
<div class="choose-destination">
  <div class="page-width">
    <div class="choose-destination__wrapper">
      <div class="choose-destination__grid-item">
        {%- if section.settings.overlay_image != blank -%}
          <div class="choose-destination__overlay-image">
            <img src="{{ section.settings.overlay_image |  image_url: width: 167  }}" alt="">
          </div>
        {%- endif -%}
        <div class="choose-destination__content">
          {%- if section.settings.title != blank -%}
            <h2 class="choose-destination__title">{{ section.settings.title }}</h2>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="choose-destination__text">{{ section.settings.text }}</div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Choose Destination",
  "settings": [
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Overlay image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Choose Destination"
    }
  ]
}
{% endschema %}
