{{ 'sliding-text.css' | asset_url | stylesheet_tag }}

<div class="sliding-text">
  <div class="wrapper">
    <ul class="list-item-wrap sliding-wrap">
      {%- for block in section.blocks -%}
        {%- if block.settings.text != blank -%}
          {%- for i in (1..4) -%}
            <div class="text-icon">
              <span class="item-text">{{ block.settings.text }}</span>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                  <path d="M9.92473 0.316593C6.18548 1.24702 2.93548 3.86276 1.29301 7.26849C0.297043 9.32246 0.0174731 10.604 0 12.974C0 15.4317 0.27957 16.6255 1.41532 18.9428C2.09677 20.3472 2.46371 20.8563 3.80914 22.1905C6.5 24.8765 9.20833 26 13 26C16.7917 26 19.5 24.8765 22.1909 22.1905C23.5363 20.8563 23.9032 20.3472 24.5847 18.9428C25.7204 16.6255 26 15.4317 26 12.974C25.9825 10.604 25.703 9.32246 24.707 7.26849C23.047 3.79254 19.6573 1.12414 15.8481 0.263927C14.2056 -0.104734 11.5323 -0.0871792 9.92473 0.316593ZM17.8575 4.02076C17.875 4.02076 18.0497 4.28409 18.2419 4.58253C18.7661 5.44274 18.6962 6.05718 17.9973 6.75939C17.246 7.51427 16.4247 7.56693 15.6384 6.89983C14.1532 5.6534 15.3938 3.33611 17.2809 3.88032C17.5605 3.95054 17.8226 4.02076 17.8575 4.02076ZM12.3884 6.02207C14.0833 7.72493 11.7944 10.2178 10.0121 8.62025C8.80645 7.53182 9.59274 5.60074 11.2702 5.60074C11.7769 5.60074 12.0914 5.72363 12.3884 6.02207ZM17.246 9.30491C18.3468 9.86668 18.5739 11.1833 17.7352 12.1313C17.3159 12.6053 17.1062 12.7106 16.4946 12.7106C15.8831 12.7106 15.6734 12.6053 15.254 12.1313C13.9435 10.6567 15.5161 8.40959 17.246 9.30491Z" fill="#FDF0D2"/>
                </svg>
              </span>
            </div>
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Sliding Text",
  "blocks": [
    {
      "type": "info",
      "name": "Info",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sliding Text"
    }
  ]
}
{% endschema %}
